:root {
  --primary-plugin-color: #00263e;
	--secondary-plugin-color: #333;
  --accent-plugin-color: #blue;
}

.vs-admin-settings-wrapper{
  margin: 2.5%;
  background-color: white;
  border-radius: 8px;
  padding: 2.5%;
  min-height: 500px;
}

.vs-admin-h1{
  text-align: center;
  font-variant: small-caps;
  background: var(--accent-plugin-color);
  padding: 1rem;
  border-radius: 8px;
  margin: 0 auto;
  color: var(--primary-plugin-color);
  font-weight: bold;
}
.formSuccess{
  text-align: center;
  text-transform: uppercase;
  color: white !important;
  background-color: #4BB543;
  border-radius: 3px;
  padding: 0.5rem;
}

.formError{
  text-align: center;
  text-transform: uppercase;
  color: white !important;
  background-color: #B33A3A;
  border-radius: 3px;
  padding: 0.5rem;
}

.vs-navigation-wrapper{
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.vs-button-style{
  background: var(--secondary-plugin-color);
  padding: 0.8rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-variant: all-small-caps;
  box-shadow: none;
  border:none;
  border-radius: 5px;
}

.vs-button-style:hover{
  transform: scale(1.1);
  transition: ease;
}

.vs-nav-btn-desc{
  margin-top: 1rem;
  opacity: 0;
}

.vs-nav-btn-container:hover > :last-child{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
   0% { opacity: 0; }
   100% { opacity: 1;}
}

.vs-admin-settings-wrapper form{
  margin: 1rem;
}

.formError{
  display: none;
}

.formSuccess{
  display: none;
}
