:root {
  --primary-plugin-color: #00263e;
	--secondary-plugin-color: #333;
  --accent-plugin-color: #blue;
}

.vs-admin-settings-wrapper{
  margin: 2.5%;
  background-color: white;
  border-radius: 8px;
  padding: 2.5%;
  min-height: 500px;
}

.vs-admin-h1{
  text-align: center;
  font-variant: small-caps;
  background: var(--accent-plugin-color);
  padding: 1rem;
  border-radius: 8px;
  margin: 0 auto;
  color: var(--primary-plugin-color);
  font-weight: bold;
}

.vs-navigation-wrapper{
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
.vs-nav-button{
  background: var(--secondary-plugin-color);
  padding: 1rem;
  color: white;
}

.vs-admin-settings-wrapper a{
  cursor: pointer
}
.vs-admin-settings-wrapper a:hover{
  transform: scale(1.2);
  transition: ease;
}

.vs-nav-btn-desc{
  margin-top: 1rem;
  opacity: 0;
}
.vs-nav-btn-container:hover > :last-child{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
           0% {
               opacity: 0;
           }
           100% {
               opacity: 1;
           }
}
